[Unit]
Description=Bazzite Changelog Proxy Service
After=network.target
PartOf=steam.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 /usr/libexec/bazzite-changelog-proxy.py

[Install]
WantedBy=steam.service